body {
  margin: 0px;
  font-family: oxanium, monospace;
  background-color: rgba(100, 255, 180, 0.6);
}

#bg-img {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  opacity: 0.75;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jersey 20', monospace;
  color: rgb(50, 255, 50);
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  content: "> ";
}

#page-title {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
}




