body {
  font-family: sans-serif;
  background-color: rgba(100, 255, 180, 0.6);
}

p, a, li {color: blue;}

a:hover {color: red;}

ul li {font-style: italic}

/* This is a comment */
.int-link {
  font-weight: bolder;
  font-family: serif
}
 
#mail-link {font-size: 1.5em}

#bg-img {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  opacity: 0.75;
}

