body {
  margin: 0px;
  font-family: Geo, serif;
}

h1 {
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-family: Tourney, sans-serif;
  font-size: 2.5rem;
}

#content {
  padding: 10px;
}

#input-grp {
  font-family: Tourney, sans-serif;
  width: 50%;
  margin: 20px auto;
}

button {
  font-family: Tourney;
  font-weight: 900;
}

#input-grp button {
  display: inline-block;
  width: 50px;
}

#matrix {
  width: 800px;
  margin: 30px auto;
}

#matrix > div {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
}

#matrix > div > div {
  flex: 1 1 0;
  border: solid black 3px;
  text-align: center;
  min-height: 40px;
}

.payoff-pair {
  display: block;
  align-content: center;
  height: 100%;
}

input {
  width: 40px;
}
